.custom table{
  width: 75%;
  background: #F5F5F5;
  margin: 0 auto;
}
.custom table tr{
  padding-top: 20px;
  padding-bottom: 20px;
}
.custom table tr td{
  width: 25%;
  height: auto;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 10px;
  text-align: left;
  font-family: "华文新魏", serif;
}
.custom table tr td p{
  margin: 0 auto;
  font-size: 15px;
  font-family: 微软雅黑, fantasy;
}

.custom table tr td hr{
  margin: 0 auto;
  font-size: 15px;
}

.footerDIV{
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 50px;
  background: #F5F5F5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.webinfo{
  width: 100vm;
  height: 100%;
  background: #F5F5F5;
  padding-top: 30px;
  padding-bottom: 10px;
}

.webinfo p{
  text-align: center;
  font-size: 12px;
}

.picutre-word{
  position: absolute;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  bottom: 45vh;
  left: 33vh;
  right: 33vh;
  text-align: center;
}
.picutre-word p{
  color: whitesmoke;
  font-size: 90px;
}

.picutre-word span{
  text-align: center;
  color:  #0aac8e;
  font-size: 22px;
  font-family: "华文新魏", serif;
  font-weight: bold;
}

.login-label{
  font-size: 20px;
  font-family: "简楷体", cursive;
  line-height: 34px;
}

@font-face {
  font-family: '简楷体';
  src: url("简楷体.ttf");
}


.login{
  width: 100%;
  background-color: white;
  margin: 0 auto;
  background-image: url(../picture/lunbo1.jpg);
  background-size: cover;
  filter:grayscale(0%);
}

.top{
  /*background-color: blue;*/
  height: 20vh;
}

.center{
  height: 60vh;
}

.bottom{
  /*background-color: chartreuse;*/
  height: 20vh;
  width: 100vm;
}

/*.login-form{*/
  /*width: 450px;*/
  /*float: right;*/
  /*margin-right: 250px;*/
  /*margin-top: 50px;*/
  /*border: 1px solid gray;*/
  /*height: auto;*/
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
  /*font-family: "简楷体", cursive;*/
  /*background:rgba(102,139,139,0.5);*/
  /*color: white;*/
/*}*/

/*.label-style-1{*/
  /*font-size: 50px;*/
  /*font-family: "简楷体", fantasy;*/
  /*text-align: center;*/
  /*color: #0aac8e;*/
  /*width: 100%;*/
/*}*/

.label-style-1 :hover{
  color: red;
}

.error-lable{
  color: red;
  font-family: '',monospace;
  font-size: 15px;
}




